:root {
  --icon-size: 1.6rem;
  --menu-panel-width: 250px;
  --menu-panel-bg-color:rgba(14, 14, 14, 0.95); 
  --menu-link-color: plum; 
  --menu-link-hover-color:  rgb(239, 238, 245); 
  --primary-text-color: plum; /* rgb(239, 238, 245); */
  --secondary-text-color: #555;
  --spacing-unit: 1rem; /* using rem for better scalability */
}

body {
  background-color: #121212; /* a dark background for better contrast with text color */
  color: var(--primary-text-color);
  font-family: sans-serif; /* default font family for better rendering */
  margin: 0; 
  overflow-x: hidden;
  padding: 0; 
}

.app-container {
  display: flex;
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 2rem;
  padding: var(--spacing-unit); 
  position: fixed;
  right: var(--spacing-unit); /* move toggle to the right */
  top: var(--spacing-unit);
  z-index: 100;
}

.menu-panel {
  background-color: var(--menu-panel-bg-color);
  box-sizing: border-box;
  color: var(--primary-text-color);
  height: 100%;
  overflow-y: auto;
  padding: var(--spacing-unit);
  position: fixed;
  right: calc(0px - var(--menu-panel-width)); /* initially off-screen on the right */
  transition: right 0.3s ease-in-out; /* change transition property */
  top: 0;
  width: var(--menu-panel-width);
  z-index: 90;
}

.menu-panel.open {
  right: 0; /* slide in */
}

.menu-nav ul {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

.menu-nav li:last-child {
  border-bottom: none;
}

.menu-link {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  gap: 0.5rem;
  text-decoration: none; 
  padding: 0.5rem 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--menu-link-hover-color);
}


.menu-footer {
  border-top: 1px solid #555;
  color: #888;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.site-content {
  flex-grow: 1;
  padding: var(--spacing-unit);
  margin-left: auto;
}