:root {
  --primary-text-color: rgb(239, 238, 245);
  --secondary-text-color: #555;
  --spacing-unit: 10px;
  --icon-size: 1.6rem; /* using rem for better accessibility */
}

body {
  color: var(--primary-text-color); /* set default text color */
}

a {
  color: inherit; /* inherit color from body */
  text-decoration: none;
  font-size: calc(1em + 1.5vmin); /* using em as base for responsiveness */
  font-weight: bold;
}

a:hover {
  color: transparent; /* keep hover effect */
  transition: color 0.3s ease-in-out; /* smooth transition for hover effect */
}

.nameTitle {
  color: inherit;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(1.2em + 2vmin); 
  font-weight: bolder;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: flex-end; /* align navbar content to the right */
  padding: var(--spacing-unit); /* use spacing variable */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* use flexbox to control list item alignment */
  align-items: center; /* vertically align items if needed */
}

li {
  margin-left: var(--spacing-unit); /* use spacing variable for left margin */
}

.catIcon {
  font-size: var(--icon-size);
}