.galleryWrap {
  line-height: 0;
  column-count: 3;
  column-gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.galleryWrap .single {
  width: 100%;
  cursor: pointer;
}

.galleryWrap .single img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 25px; /* to match column gap */
  transition: transform 0.2s ease-in-out; 
}

.galleryWrap .single img:hover,
.galleryWrap .single:focus img {
  transform: scale(1.03);
  outline-color: transparent;
  outline-offset: 2px;
}

@media (max-width: 1200px) {
  .galleryWrap {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .galleryWrap {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .galleryWrap {
    column-count: 1;
  }
}

.slideWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none; /* remove default focus outline for the modal */
}

.slideWrap .btnClose,
.slideWrap .btnPrev,
.slideWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 9999;
  transition: opacity 0.2s ease-in-out;
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover,
.btnNext:focus,
.btnPrev:focus,
.btnClose:focus {
  opacity: 1;
  outline-color: transparent;
  outline-offset: 2px;
}

.slideWrap .btnClose {
  top: 40px;
  right: 40px;
}

.slideWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.slideWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .fullScreenImage {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
  }

  .slideWrap .btnClose,
  .slideWrap .btnPrev,
  .slideWrap .btnNext {
      font-size: 1.5em; /* adjust icon size for smaller screens */
      padding: 10px;
  }

  .slideWrap .btnClose {
      top: 20px;
      right: 20px;
  }

  .slideWrap .btnPrev {
      left: 20px;
  }

  .slideWrap .btnNext {
      right: 20px;
  }
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  user-select: none;
}